# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/Datasheet/
/.cursor/

# Python cache artifacts
**/__pycache__/
*.pyc